<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178000528319-nvv40r2hkm5q88kc5b91askm1h6vl54p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178000528319-nvv40r2hkm5q88kc5b91askm1h6vl54p</string>
	<key>API_KEY</key>
	<string>AIzaSyDNrjH3B6_Vqcv5p1wp-MopQ4DKS6saVIk</string>
	<key>GCM_SENDER_ID</key>
	<string>178000528319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApiTask</string>
	<key>PROJECT_ID</key>
	<string>fir-apitask-97d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-apitask-97d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178000528319:ios:178e84f8a17c8f097ed70a</string>
</dict>
</plist>